// base color
$base-color: #d55e9a;     //基础粉色
$blue-auto:#5fbbfc;            //基础蓝色
$blue-dark:#256ba9;            //基础蓝色
$theme-bg: rgba(67,67,67,1); //头部与左侧黑色
$light-blue: #3A71A8;              //蓝色
$red-auto: #ff0000;                //红色
$green-auto: #39c700;              //绿色
$orange-auto: #ff9600;             //橙色
$orange-light: #faf2ed;
$background-aoto:#efe6d6;           //背景颜色

$black-dark: #323232;  //菜单选中背景色
$black-light: #434343;  //菜单背景色
$black-pale: #666666;
$black-half: #aaa;
$gray-1: #808080;      //文字颜色
$gray-2: #cccccc;      //文字
$gray-3: #e7e7e7;      //描边
$gray-4: #f2f2f2;      //表头
$gray-5: #fafafa;      //隔行换色

$red-select: #ff8d1a;

$boxShadow: rgba(0,0,0,.05);
